.logContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  .tableContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .tableWrapper {
      height: 80%;
      width: 85%;
      background-color: aliceblue;
      border-radius: 10px;
      overflow: scroll;
      position: relative;
      table {
        width: 100%;
        border-collapse: collapse;
        position: relative;
        border: 1px solid #154c8b;
        .tableHeader {
          top: 0;
          position: sticky;
          border: 1px solid #fff;

          height: 4vh !important;
          background-color: hsl(212, 74%, 31%);
          color: aliceblue;
        }
        td {
          border: 2px solid #fff;
          text-align: center;
          height: 1vh;
        }
        tr:nth-child(even) {
          background-color: #f6f5f5;
        }
        tr:hover{
            background-color: #b3dbff;
        }
      }
    }
  }
}
