.formContainer {
    width: 100%;
    position: relative;
    .forms {
      width: 60%;
      height: 100%;
      margin: 4% 20%;
      .formButton {
        display: flex;
        justify-content: flex-end;
        margin-top: 4%;
      }
    }
    .formHeader {
      height: 12vh;
      display: grid;
      grid-template-columns: 25% 50% 25%;
      .formTitle {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        h1 {
          padding: 0;
          margin: 0;
        }
      }
      .progress {
        padding-top: 10%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        .circle {
          margin-left: 5px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 2px solid #000;
        }
      }
    }
  }
  .defaultCred{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }